body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #222;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.sensor-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sensor-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.sensor-card p {
    font-size: 16px;
    margin: 5px 0;
}

.sensor-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.sensor-card a:hover {
    background-color: #0056b3;
}



/* BANIERE */ 
/* Bannière */
.banner {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.banner-content h1 {
    margin: 0;
    font-size: 24px;
}

.subscribe-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #00408d;
}

/* Contenu principal */
.main-content {
    margin-top: 100px; /* Décale le contenu principal pour éviter qu'il soit sous la bannière */
    padding: 20px
}