<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capteurs et Notifications</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>Capteurs et Notifications</h1>

    <p>Assurez-vous que les notifications sont activées dans votre navigateur.</p>
    <button id="enable-notifications">Activer les notifications</button>

    <h2>Dernières données des capteurs</h2>
    <div class="container">
        {% for sensor in data %}
        <div class="sensor-card" id="sensor-{{ loop.index0 }}">
            <h2>{{ sensor.sensor_type }}</h2>
            <p class="sensor-timestamp"><strong>Timestamp :</strong> {{ sensor.timestamp }}</p>
            {% if sensor.sensor_type == "Température/Humidité" %}
                <p class="sensor-temperature"><strong>Température :</strong> {{ sensor.temperature }} °C</p>
                <p class="sensor-humidity"><strong>Humidité :</strong> {{ sensor.humidity }} %</p>
            {% elif sensor.sensor_type == "Fermeture de porte" %}
                <p class="sensor-door"><strong>État de la porte :</strong> {{ sensor.door }}</p>
            {% endif %}
            <a href="/history/{{ loop.index0 }}">Voir l'historique</a>
        </div>
        {% endfor %}
    </div>
    </body>
</html>