<!DOCTYPE html>
<html>
<head>
    <title>Capteurs</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Dernières données des capteurs</h1>
    <div class="container">
        {% for sensor in data %}
        <div class="sensor-card">
            <h2>{{ sensor.sensor_type }}</h2>
            <p><strong>Timestamp :</strong> {{ sensor.timestamp }}</p>
            {% if sensor.sensor_type == "Température/Humidité" %}
                <p><strong>Température :</strong> {{ sensor.temperature }} °C</p>
                <p><strong>Humidité :</strong> {{ sensor.humidity }} %</p>
            {% elif sensor.sensor_type == "Fermeture de porte" %}
                <p><strong>État de la porte :</strong> {{ sensor.door }}</p>
            {% endif %}
            <a href="/history/{{ loop.index0 }}">Voir l'historique</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
